body {

    background-color: #1d1f21;
    /* padding-left: 350px; */
    margin-left: 100px;
    font-family: 'Oxygen Mono', monospace;

}

h1 {
    color: #2bbc8a;
    font-size: 30px;


}

h2 {
    color: #666666;
    font-size: 15px;
}

h3 {
    color: #2bbc8a;
    font-size: 20px;
}

h4 {
    color:
        #becacc;
    font-size: 15px;
    font-weight: 250;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    color: #becacc;
    width: 33%;
    transition: ease-in-out 0.3s;

  
    height: 300px;
    /* Should be removed. Only for demonstration */
}



/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

.column2 {
    float: left;
    color: #becacc;
    width: 4%;
    padding: 10px;
    height: 0px;

    /* zoom_icons */
    padding: 25px;
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 120px;
    margin-right: 2px;

}

.column2:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}

ul {
    list-style-image: url('sqpurple.gif');
}

h5 {
    font-weight: -250;
    font-size: 20px;
}

.centered {
    padding-bottom: -70px;
}

h6 {
    font-size: 20px;
    color: #2bbc8a;

}
.button {
   background-color: #2bbc8a7f; /* Green */
  border: none;
  color: #becacc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: 'Oxygen Mono', monospace;
  width: 80%;
}
.button:hover {
  background-color: #1d1f21;
  color: white;
  border: 2px solid #2bbc8a7f;

  
}
