body {
  margin: 0;
  width: auto;
  height: auto;
  

  overflow-x: hidden;
  background: #1d1f21;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin-left: 75px;
  opacity: 100%;
  font-family: 'Oxygen Mono', monospace;

}

#canvas {
  background-color: #1d1f21;
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  z-index: -1;

  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#mouse-control-control {
  position: absolute;
  top: 100%;

  left: 100;


  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  border: solid 2px;
  border-radius: 6px;
  outline: none;

  transition: transform 0.1s cubic-bezier(0.09, 0.95, 0.14, 1.25), opacity 0.1s cubic-bezier(0.09, 0.95, 0.14, 1.25);

  background-color: #2bbc8a7f;
  /* Green */
  border: none;

 
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: 'Oxygen Mono', monospace;
  width: 80%;


}

#mouse-control-control:before {
  content: attr(data-on);
}


#mouse-control-control:hover {
  background-color: #1d1f217f;
  color: white;
  border: 2px solid #2bbc8a7f;


}

button {
  font-size: 1em;
  cursor: pointer;
  position: fixed;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  button {
    font-size: 2em;
  }
}




/* 
.button {
  background-color: #2bbc8a7f;
  border: none;
  color: #becacc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: 'Oxygen Mono', monospace;
  width: 80%;
  
} */

.button:hover {
  background-color: #1d1f21;
  color: white;
  border: 2px solid #2bbc8a7f;


}

#github {
  position: absolute;
  left: 11%;
  padding: 10px;
  background-color: #1d1f217f;
  border: none;
  color: #becacc;
  font-size: 1.5em;
  font-family: 'Oxygen Mono', monospace;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  transition: ease-in-out 0.3s;
  height: 100px;
  width: 100px;
  margin-top: 0%;
  bottom: 10;

}

#github:hover {
  scale: 1.5;
}


#linkedin {

  position: absolute;
  bottom: 10;
  left: 21%;
  padding: 10px;
  background-color: #1d1f217f;
  border: none;
  color: #becacc;
  font-size: 1.5em;
  font-family: 'Oxygen Mono', monospace;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  transition: ease-in-out 0.3s;
  height: 100px;
  width: 100px;
  

}

#linkedin:hover {
  scale: 1.5;
}

#mail {
  position: absolute;
  left: 31%;
  padding: 10px;
  background-color: #1d1f217f;
  border: none;
  font-size: 1.5em;
  font-family: 'Oxygen Mono', monospace;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  transition: ease-in-out 0.3s;
  height: 100px;
  width: 100px;
  bottom: 10;

}

#mail:hover {
  scale: 1.5;
}

#twitter {
  position: absolute;
  left: 41%;
  padding: 10px;
  background-color: #1d1f217f;
  border: none;
  color: #becacc;
  font-size: 1.5em;
  font-family: 'Oxygen Mono', monospace;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  transition: ease-in-out 0.3s;
  height: 100px;
  width: 100px;
  margin-top: 0%;
  bottom: 10;


}
#twitter:hover {
  scale: 1.5;
} 












h1 {
  color: #2bbc8a;
  font-size: 30px;


}

h2 {
  color: #666666;
  font-size: 15px;
}

h3 {
  color: #2bbc8a;
  font-size: 20px;
}

h4 {
  color:
    #becacc;
  font-size: 15px;
  font-weight: 250;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */

/* Clear floats after the columns */


ul {
  list-style-image: url('sqpurple.gif');
}

h5 {
  font-weight: -250;
  font-size: 20px;
}

.centered {
  padding-bottom: -70px;
}

h6 {
  font-size: 20px;
  color: #2bbc8a;

}






* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 33%;
  padding: 10px;
  float: left;
  color: #becacc;
  width: 33%;
  transition: ease-in-out 0.3s;


  height: 350px;
}



/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 740px) {
  .row {
    flex-direction: column;
  }
}





