:root {
  --green: #2bbc8a;
  --greenf:#2bbc8a7f;
  --grey: #666666;
  --white: #becacc;
/*   --background:   #1d1f21 */
  --background: #141414;
  --backgroundf: #1414147f;
}


body {
  margin-top: 100; 
  color: var(--white);
  overflow-x: hidden;
  background: var(--background);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 100px;
  opacity: 100%;
  font-family: 'Oxygen Mono', monospace;

}

#canvas {
  background-color: var(--background);
  position: fixed;
  margin-left: 0%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  z-index: -2;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



button {
  cursor: pointer;
  border: none;
  background-color: var(--background);

}


#cv-button {
  top: 100%;
  left: 100;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  border: solid 2px;
  border-radius: 6px;
  outline: none;
  transition: transform 0.1s cubic-bezier(0.09, 0.95, 0.14, 1.25), opacity 0.1s cubic-bezier(0.09, 0.95, 0.14, 1.25);
  background-color: #2bbc8a7f;
  /* Green */
  border: none;


  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: 'Oxygen Mono', monospace;
  width: 80%;


}

#cv-button:before {
  content: attr(data-on);
}


#cv-button:hover {
  background-color: #1d1f217f;
  color: white;
  border: 2px solid #2bbc8a7f;


}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0%
}

.column {
  width: 33%;
  flex: 33%;
  padding: 1px;

}


.row2 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.column2 {
  flex: 10%;
  width: 10px;
  height: 50px;
  margin-bottom: 5%;



}

#github.hover {
  transform: scale(1.5);
}

h3 {
  padding-top: 20px;

}

h1 {
  padding-top: 20px;
  color: var(--green);
  font-size: 30px;
}

h2 {
  color: var(--grey);
  font-size: 15px;
}

h3 {
  color: var(--green);
  font-size: 20px;
}

h4 {
  font-size: 15px;
  font-weight: 250;
}

h5 {
  font-size: 20px;
  color: var(--green);
}

h6 {
  font-size: 20px;
  color: var(--green);
}
.square{
  position:fixed;
  top :0;
  left:0;
    height: 100%;
  width: 100%;
  background-color: var(--background);
  opacity:0;
   z-index: -1;
}



#github:hover{
transform: scale(1.5);

border-radius: 10%;
}

#twitter:hover{
transform: scale(1.5);

border-radius: 10%;
}

#linkedin:hover{
transform: scale(1.5);

border-radius: 10%;
}

#mail:hover{
transform: scale(1.5);

border-radius: 10%;
}

@media screen and (max-width: 800px),(max-height: 850px)  {
  body{
    margin-left: 10%;
    margin-top: 10%;
  }
  .row {
    flex-direction: column;
  }

  h3 {
    font-size: 20px;

  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 25px;

  }

  li {
    font-size: 15px;
  }

  h6 {
    font-size: 25px;

  }

  .centered {
    width: 15px;
  }
  .column2{
    flex: 0%;
    width: 50px;
    padding-left: 1px;
  }
  .row2{
    width: 100%;
  }

 
 
  #cv-button{

    width: 90%;
  }
  
.square{
opacity: 1;
}
}
